body {
    background-image: linear-gradient(140deg, #7a26fe, #fe37c9);
    background-attachment: fixed;
}

.centered {
    display: flex;
    justify-content: center;
}

.blogEntry {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    position: relative;
    width: 75%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2.5vh;
    background-color: rgba(80, 80, 80, 0.5);
}

.blogPostImage {
    width: 10vw;
}

.blogPostImageBottom {
    width: 20vw;
}

.centeredDown {
    display: flex;
    justify-content: center;
    position: relative;
    top: 2vh;
}

.navButtonBackground {
    display: flex;
    justify-content: center;
    position: fixed;
    margin: auto;
    top: 2.5vh;
    left: 2.5vh;
    background-color:rgba(40, 0, 0, 1);
    border-radius: 50px;
    width: 10vw;
    height: 80px;
    box-shadow: 0px 10px;
    color: inherit;
    text-decoration: none;

}

.navButtonText {
    display: flex;
    justify-content: center;
    position: relative;
    top: 10px; 
    font-family: Broadbay; 
    font-size: 50px; 
    z-index: 2; 
    color: crimson;
}

.titleEllipse {
    width: 160px;
    height: 40px;
    border-radius: 50%;
    background-color: yellow;
    transform: rotate(-5deg);
}

.transparentForeground {
    width: 60vw;
    height: 90vh;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
}

@font-face {
    font-family: 'Broadbay';
    src: url('fonts/BroadbayNormal-JJv7.ttf') format('truetype');
}

@font-face {
    font-family: 'ITCFRO';
    src: url('fonts/itc-fenice-regular-oblique.otf') format('opentype');
}